.container {
    position: relative;
    background: transparent;
    height: 10vh;
  }
  /* a:hover {
    background-color: rgb(15, 15, 0);
  } */
  /* dont edit this selector. these settings should keep the logo always fitting by default. see below examples for how to edit  */
.navbar-default {
    background:transparent;
  	border: none;
}
.navbar-brand>img {
    max-height: 100%; /* resize DOWN to height of container which is set to 50px */
    height: 100%; /* resize UP to fit*/
    max-width: 100%;  /*probably not necessary */
    /* width: auto; resize based on height */
    margin: 0 auto;
    background: transparent;
-o-object-fit: contain; /* Opera Support */
      object-fit: contain; /* Resize down to fit container */

}
/* Default Navbar Brand Settings. Use this to resize or move your logo up and down */
/* .navbar-brand { */
/* padding: 15px 15px; adjust the top/bottom padding if your logo looks too small */
/* margin-top: 0px; you can adjust this if your logo needs to be moved up or down but simply adjusting the padding is easier */
/* height: 50px; this should be equal to computed height of .navbar-nav>li>a */
/* } */

.topNavbar .navbar-brand {
height: 80px;
background: transparent;
}

/* line height is 20px so add 30px top and bottom to equal the new .navbar-brand height */
.topNavbar .nav >li >a {
padding-top: 30px;
padding-bottom: 30px;
/* margin-bottom: 25px; */
}


.icon-bar {
    background: transparent;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #3d21a0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}

/* Add a  background color to the top navigation */
.topnavbar {
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnavbar a {
    background-color: transparent;
    overflow: hidden;
  }
  
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
 
 
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container2 {
    padding: 50px;
    margin: 50px;
    border-radius: 5px;
    background-color: #3d21a0;
    padding: 10px;
    padding-top: 100px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  /* Clear floats before the columns */
.row:before {
    content: "";
    display: table;
    clear: both;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu {

}
.label {
    color: white;
    padding: 8px;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #009999;
    border: 2px;
    color: white;
    padding: 5px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .footer {
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #583C87;
    color:white;
    padding-bottom: 2.5rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }